
ios-mobile-app/Pods/
android-tv-app/app/build/
android-tv-app/.gradle/
android-tv-app/build/
android-tv-app/app/build/

/android-mobile-app/.gradle
/android-tv-app/app/build
/android-tv-app/app/build
/api-backend/public_html/old_app
/ios-mobile-app/build
/android-tv-app/app/build
/android-tv-app/app/build
/ios-mobile-app/Vuga.xcarchive
/android-mobile-app/.gradle
/android-mobile-app/.gradle

*.apk
/ios-mobile-app/Archives
/server_backup_08172025

server_backup_08172025.zip
/android-mobile-app/.gradle
/android-tv-app/app/build/intermediates
/android-tv-app/app/build
/android-tv-app/app/build

android-tv-app/app/build/
ios-mobile-app/DerivedData/
android-tv-app/app/build/