<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>GCKCastApplicationID</key>
    <string>4F8B3483</string>
    <key>GCKCastLaunchOptionsKeyDisableAnalyticsLogging</key>
    <false/>
    <key>GCKCastLaunchOptionsKeyDisableDiscoveryAutostart</key>
    <false/>
</dict>
</plist>