<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.561887003471-okjhtc4lg5flu8ao3iijhrldmlp3c7bl</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.vugaenterprises.vuga</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>vuga</string>
			</array>
		</dict>
	</array>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-0482996021014353~5361423681</string>
	<key>Item0</key>
	<string></string>
	<key>Itme1</key>
	<string></string>
	<key>UIAppFonts</key>
	<array>
		<string>Outfit-Black.ttf</string>
		<string>Outfit-Bold.ttf</string>
		<string>Outfit-Light.ttf</string>
		<string>Outfit-Medium.ttf</string>
		<string>Outfit-Regular.ttf</string>
		<string>Outfit-Thin.ttf</string>
		<string>Outfit-ExtraBold.ttf</string>
		<string>Outfit-ExtraLight.ttf</string>
		<string>Outfit-SemiBold.ttf</string>
		<string>Lato-Bold.ttf</string>
		<string>SF-UI-Display-Heavy.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>branch_key</key>
	<dict>
		<key>live</key>
		<string>Your Branch Key</string>
	</dict>
	<key>branch_universal_domains</key>
	<dict>
		<key>item0</key>
		<string>flixy.app.link</string>
		<key>item1</key>
		<string>flixy-alternate.app.link</string>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIRequiresFullScreen~ipad</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>VUGA needs camera access to scan QR codes for TV authentication</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>VUGA needs local network access to discover and connect to TVs and streaming devices</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_googlecast._tcp</string>
		<string>_airplay._tcp</string>
		<string>_raop._tcp</string>
		<string>_upnp._tcp</string>
		<string>_ssdp._tcp</string>
	</array>
</dict>
</plist>
