<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>method</key>
    <string>development</string>
    <key>teamID</key>
    <string>8TQG9PZ4H5</string>
    <key>signingCertificate</key>
    <string>Apple Development</string>
    <key>signingStyle</key>
    <string>manual</string>
    <key>provisioningProfiles</key>
    <dict>
        <key>com.vugaenterprises.vuga</key>
        <string>iOS Team Provisioning Profile: com.vugaenterprises.vuga</string>
        <key>com.vugaenterprises.vuga.liveActivity</key>
        <string>iOS Team Provisioning Profile: com.vugaenterprises.vuga.liveActivity</string>
    </dict>
    <key>uploadBitcode</key>
    <false/>
    <key>compileBitcode</key>
    <false/>
    <key>uploadSymbols</key>
    <false/>
    <key>stripSwiftSymbols</key>
    <true/>
    <key>generateAppStoreInformation</key>
    <false/>
</dict>
</plist>