<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>561887003471-okjhtc4lg5flu8ao3iijhrldmlp3c7bl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.561887003471-okjhtc4lg5flu8ao3iijhrldmlp3c7bl</string>
	<key>API_KEY</key>
	<string>AIzaSyCu9mHgzEU44y0QQmFUQbiGo3ME0OVySGs</string>
	<key>GCM_SENDER_ID</key>
	<string>561887003471</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vugaenterprises.vuga</string>
	<key>PROJECT_ID</key>
	<string>iosdemo-tvapp</string>
	<key>STORAGE_BUCKET</key>
	<string>iosdemo-tvapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:561887003471:ios:b140b636a0dc6fa3f7fb3a</string>
</dict>
</plist>